
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
  

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
header h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 1px;
}
  
header div span {
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s;
}
  

  
header button {
    background-color: #e11b1b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}
.card {
    background-color: #fff;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card h2 {
    font-size: 18px;
    margin-top: 15px;
}
.card p {
    font-size: 16px;
    color: #7c7979;
    margin: 10px 0;
}
.card button {
    background-color: #e11b1b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  

  